doctype html
include ../includes/mixins

+page("XML Binding and Rapid Prototyping")
  +lecture-title-page("XML Binding and Rapid Prototyping", "SAP TechEd 2015 : Barcelona")

  section.index-section(data-state="index-slide")
    h3 Introductions

  section
    h1
      i.fa.fa-github
    p These slides are up on GitHub!
    a(href="https://github.com/mitch-b/openui5-teched-talk", target="_blank") mitch-b/openui5-teched-talk

  section
    h2 Introductions
    ul
      li Mitchell Barry
        a(href="https://twitter.com/mitchbarry", target="_blank")  (@mitchbarry)
      li Peder Rice
        a(href="https://twitter.com/Peder_Rice", target="_blank")  (@Peder_Rice)

  section
    h1 Topics
    ul
      li Why XML?
      li Upcoming XML Binding Features (demos!)
      li Testing your apps
      li Prototyping
      li Using JSBin

  section
    h1 Why use XML views?

  section
    h1 XML views
    p
      ul
        li SAP's direction with Fiori
        ul
          li Standards
          li Primary focus
          li Consistency

  section
    h1 XML views
    p
      strong  Business logic
      |  can easily sneak into JavaScript-based views

  section
    h1 XML views
    p
      XML views are&nbsp;
      strong declarative
      |  and easy to quickly decipher

  section
    h4 JS View Example
    pre.
      <code class="js" data-trim>
      sap.ui.jsview("sample.View1", {

          getControllerName : function() {
              return "sample.View1";
          },

          createContent : function(oController) {
              var aControls = [];
              var oButton = new sap.ui.commons.Button({
                id : this.createId("myButton"),
                text : "Click me!"
              });
              aControls.push(oButton);
              return aControls;
          }
      });

      </code>

  section
    h4 XML View Example
    pre.
      <code class="xml" data-trim>
      &lt;mvc:View
        xmlns:mvc="sap.ui.core.mvc"
        controllerName="sample.View1"
        xmlns="sap.m">
        &lt;Button id="myButton" text="Click me!" /&gt;
      &lt;/mvc:View&gt;

      </code>
