doctype html
include includes/mixins

+page("XML Binding and Rapid Prototyping")
  section.index-page
    h2 XML Binding and Rapid Prototyping
    h4 Slides
    ul
      li
        a(href="lectures/full.html", target="_blank") Full Slide Deck

  section.index-page
    h2 XML Binding and Rapid Prototyping
    h4 Printable Slides
    ul
      li
        a(href="lectures/full.html?print-pdf", target="_blank") Full Slide Deck
